// color
$color-ieul: #ff6839;
$color-main: #b2a173;
$color-text-main: #646464;

$red: #ff3300;
$orange: $color-ieul;
$brown: $color-main;
$dark-brown: #746744;

// breakpoint sizes
$screenSm: 640px;
$screenMd: 768px;
$screenLg: 1024px;

$content-max-width: 1000px;
$content-min-height: 500px;
